*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
    font-family: Inter, serif;
    background-image: url(./assets/images/bg.jpg);
    color: #E5E7EB;
    display: grid;
    height: 100vh;
    place-items: center;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 1em;
}

.music-player {
    background-color: #212936;
    padding: 1.5em;
    border-radius: 1em;
    width: 25rem;
    margin-inline: auto;
    text-align: center;
}

.progress-container {
    margin-bottom: 2em;
    border-radius: 0.25em;
    background-color: #E5E7EB;
    cursor: pointer;
}

.progress-bar {
    height: 5px;
    background-color: #C93B76;
    width: 0;
    margin-top: 0.5em;
    border-radius: 0.25em;
    transition: .1s ease-in;
}

.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-container span {
    font-size: 0.625rem;
    color: #4D5562;
}

#song-title {
    margin-bottom: 0.5em;
}

#artist {
    font-size: 0.75rem;
    color: #4D5562;
    margin: 0 0 1em 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.control-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
}

#play {
    background-color: #C93B76;
    border-radius: 50%;
    padding: 1em;
    transition: all .2s ease;
}

#play:hover {
    opacity: 0.5;
}